# Flutter specific
*.flutter-plugins
*.flutter-plugins-dependencies
.flutter-plugins
.packages
.pantry
.project
android/.gradle/
android/.idea/
android/.local/
android/app/build/
build/
ios/Flutter/.last_build_id
ios/.generated/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
ios/build/
*.DS_Store
*.iml

# Miscellaneous
*.log
*.lock
*.pyc
*.pyo
*.swp
*.swo
.idea/
.vscode/
*.lock

# Files and directories created by pub
.dart_tool/
.packages
.pub/
pubspec.lock

# Web specific
web/.dart_tool/
web/.packages
web/.pub/
web/build/

# Flutter dependencies
**/android/**/gradle-wrapper.jar
**/android/**/gradle-wrapper.properties
**/android/**/gradle/wrapper/gradle-wrapper.properties
**/android/**/gradle/wrapper/gradle-wrapper.jar
